html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  background: #040626;
}


ul {
  margin: 50px auto;
  width: 400px;
  border: 5px solid gray;
}

li:before {
  content: attr(data-tile-value);
  font-size: 36px; 
  color: white;
  line-height: 2.333;
}

li {
  float: left;
  width: 90px;
  height: 90px;
  border: 5px solid gray;
  background: #040626;
  text-align: center;
}

.tile {
  background: #21A576;
}

._3 {
  background: #F6D531;
}
._4 {
  background: #4E15E2;
}