.auto-enter {
  opacity: 0.01;
  transform: translateX(-500%);
}

.auto-enter.auto-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1500ms, transform 1500ms;
}

.auto-leave {
  opacity: 1;
  transform: translateX(0);
}

.auto-leave.auto-leave-active {
  opacity: 0.01;
  transform: translateX(-500%);
  transition: opacity 1500ms, transform 1500ms;
}
